:root{
  --blue: #87BCDE;
  --light-cabbage: #805E73;
  --dark-cabbage: #4E4D5C;

}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto Serif', serif;
  color: rgb(17, 17, 17);
}

header, footer {
  padding: 0.8rem;
  background-color: var(--dark-cabbage);
}

main {
  padding: 0.8rem;
}

footer{
  width:100%;
  position:fixed;
  bottom:0px;
  left:0px;
}

h1 {
  text-align: center;
  color: black;
}

a {
  margin-left: 1rem;
}

.modal-header{
  background-color: skyblue;
  height: 4rem;
}
.mainHeading {
  margin: 2.5rem;
  color: white;
}

button .close {
  background-color: red;
}

.container {
  text-align: center;
  margin-bottom: 50px;
}

 .btn-primary {
  margin-top: 1rem;
}

.taskCards {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.taskCards .btn {
margin-right: 1rem;
}

.card-body{
  background-color: var(--blue);
}
